body {
  background-color: #F2F2F2;
  
  height: 3843px;
  width: 1400px;
  max-width: 1400px;
}
header  {
    background-color: #F2F2F2;
    display:flex;
    justify-content: space-between;
    width: 1400px;
    max-width: 1400px;
    height: 78px;
    padding: 15px;
    margin: 0 auto;
}
.header__logo {
  width: 185.34px;
  height: 31.97px;
  padding: 22px 53px;
  padding: 50px 120px;
}
.header_link {
  padding: 54px 29px 26px 30px;
  margin: auto;
}
.nav__link {
  background-color: #F2F2F2;
  color: #2F281E;
  padding: 11px 16px;
  margin: auto;
  text-align: center;
  text-transform: capitalize;
  text-decoration-line: none;
}
button {
  font-size: 16px;
  padding: 15px 14px;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  border: transparent;
  margin-bottom: 25px;
  text-transform: capitalize;
  font-weight: 700;
  }    
.button_in {
    width: 102px;
    height: 46px;
    background-color: #F2F2F2;
    color: #2F281E;
    border: 1px solid;
    border-radius: 4px;
    padding: 11px 22px;
    font-size: 16px;
    text-decoration-line: none;
}
.button_up {
    width: 110px;
    height: 46px;
    background-color: #FF9900;
    color: #F2F2F2;
    border: 1px solid;
    border-radius: 4px;
    padding: 11px 22px;
    text-decoration-line: none;
}
   
main  {
    background-color: #F2F2F2;
    color: #2F281E;
    width: 100%;
    max-width: 1400px;    
    justify-content: space-between;
}
.first_section {
  display: flex;
  width: 1125.35px;
  height: 494.83px;
  padding: 32px 132px 99px 145px;
}
.block_info {
  width: 518px;
  height: 331px;
}
.first_title {
  width: 418px;
  height: 108px;
  justify-content:space-between;
  padding: 103px 0px 30px;
  margin: 2px;
  font-style: normal;
  font-weight: bold;
  font-size: 31px;
  line-height: 54px;
  }  
 .first_txt {
   font-size: 23px;
   text-transform:lowercase;
   width: 458px;
   height: 95px;
   padding: 30px 1px;
} 
  .btn {
    width: 175px;
    height: 53px;
    background-color: #FF9900;
    color: #F2F2F2;
    font-size: 16px;
    padding: 11px 22px;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    font-weight: 700;
    text-decoration-line: none;
}
.icon_btn {
  padding: 10px 20px;
}
.btn_getstart {
  padding: 45px 1px;
}
.img_first  {  
  width: 604.35px;
  height: 494.83px;
  padding: 32px 132px 99px 35px;
  margin: auto;
}


.section_icon  {
  width: 2211px;
  height: 543px;
  text-align:center;
  display:inline;
  padding: 734px 0px;
}
.text_title {
  width: 539px;
  height: 108px;
  font: status-bar;
  font-size: 36px;
  justify-content:stretch;
  padding:0px 400px;
  margin: auto;
  text-align: center;
}  
.icon__text {
  display: flex;
  width: 1095px;
  height: 204px;
  padding: 54px 160px;
}
.icon {
  width: 51px;
  height: 50px;
}
.fct__icon {
  width: 240px;
  height: 178px;
  padding: 0px 10px;
  margin: auto;
  text-align: left;
  }
.btn_upnow {
  padding: 10px 500px 20px 410px;
}

.second_section {
  display: flex;
  width: 1110px;
  height: 574px;
  padding: 120px 145px 50px;
}
.second_txt {
  font-size: 23px;
  width: 486px;
  height: 531px;
  font-size: 16px;
  max-width: 400px;
}
.title {
  font-size: 36px;
  font-weight: 700px;
  font-style: normal;
  line-height: 54px;
}
h5 {
  font-size: 16px;
  font-weight: 700px;
  font-style: normal;
  line-height: 26px
}
.img_DP {
  width: 520px;
  height: 574px;
  padding: 1px 104px;
}


.third_section {
  display: flex;
  width: 1121px;
  height: 521px;
  padding: 51px 144px;
}
.img_pm {
  width: 535px;
  height: 521px;
}
.third_txt {
  width: 486px;
  height: 427px;
  max-width: 486px;
  padding: 50px 135px 149px 100px;
}
.icon_v {
  width: 35px;
  height: 35px;
}
.txt_icon_v {
  display: flex;
  width: 430px;
  height: 52px;
  padding: 10px 0px;
}
.third_txt_icon {
  width: 365px;
  height: 52px;
  padding: 0px 48px 30px;
  font-weight: 500;
  font-size: 16px;
  font-style: normal;
  line-height: 26px;
}
p {
  font-weight: 500;
  font-size: 16px;
  font-style: normal;
  line-height: 26px;
}
.under_title {
  padding: 73px 0px 0px 0px;
  width: 486px;
  max-width: 400px;
  height: 78px;
  font-weight: 500;
  font-size: 16px;
  font-style: normal;
  line-height: 26px;
}
.title_m {
  font-weight: 700;
  font-size: 36px;
  font-style: normal;
  line-height: 54px;
  width: 342px;
  height: 54px;
  max-width: 342px;
  padding: 3px 144px 22px 0px;
  display: flex;
}
.top_title {
  font-size: 16px;
  font-weight: 500px;
  font-style: normal;
  line-height: 24px;
  width: 212px;
  height: 24px;
  max-width: 212px;
  padding: 0px 274px 3px 0px;
}
.section_titles {
  width: 30px;
  height: 20 px;
  max-width: 30px;
  display: flex;
}


.fours_section {
  display: flex;
  width: 1110px;
  height: 609px;
  padding: 104px 143px 146px 147px;
  margin: auto;
}
.fours_txt {
  width: 486px;
  height: 441px;
  max-width: 400px;
  padding: 10px 82px 10px 0px;
}
.img_boym {
  width: 542px;
  height: 609px;
  padding: 0px 82px;
}

footer {
  width: 1109px;
  height: 308px;
  padding: 146px 131px 83px 160px;
  justify-content: space-between;
  margin: auto;
}
.footer_info {
  display: flex;
  width: 1110px;
  height: 308px;
  max-width: 1000px;
}
.logo_prod {
  width: 185px;
  height: 32px;
  padding: 1px 126px 256px 1px;
}
.footer_link {
  width: 118px;
  height: 180px;
  padding: 35px 25px 65px 45px;
  
}
.footer_links {
  width: 131px;
  height: 180px;
  padding: 35px 25px;
}
.txt_area {
  max-width: 320px;
  max-height: 48px;
  padding: 99px 31px 26px;
}
.last_button {
  padding: 2px 31px;
}
a {
  text-decoration-line: none;
  color: black;
}
a:hover {
  background-color: brown;
}



